body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', 'Tahoma', sans-serif;
}
.main-header{
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: red;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.main-navigation {
    width: 780px;
    background-color: green;
    float: left;
}
.main-navigation a {
    float: left;
    margin-top: 23px;
    background-color: aqua;
}
.main-navigation ul {
    float: left;
    margin: 0;
    height: 100%;
}
.main-navigation li {
    display: inline;
}
.user-block {
    width: 140px;
    margin-top: 28px;
    background-color: green;
    float: right;
}
h1 {
    font-size: 30px;
    line-height: 42px;
    background-color: aqua;
}
.breadcrumbs {
    padding: 0;
    background-color: aqua;
}
.breadcrumbs li {
    display: inline;
}
.main-item-content {
    width: 940px;
    margin-bottom: 48px;
}
.gallery {
    float: left;
    margin: 0;
    padding: 0;
    width: 460px;
    background-color: green;
}
.gallery-item-big {
    padding: 0;
    margin: 0;
}
.gallery-preview {
    margin: 0;
    padding: 0;

}
.gallery-item {
    float: left;
    margin-right: 20px;
}
.gallery-item:last-child {
    margin-right: 0;
}
.about-item {
    width: 390px;
    float: right;
    background-color: aqua;
}
.item-description {
    margin-bottom: 43px;
}
.item-atributes {
    margin-bottom: 43px;
}
.about-item p {
    margin-bottom: 43px;
}
.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #232323;
}
.footer-contacts {
    float: left;
    width: 380px;
    margin-right: 20px;
    background-color: aqua;
}
.footer-social {
    float: left;
    width: 320px;
    margin-right: 80px;
    background-color: aqua;
}
.footer-authors {
    float: right;
    width: 140px;
    background-color: aqua;
}
.filter-form {
    float: left;
    width: 220px;
    margin-right: 10px;
    background-color: aqua;
}
.filter-form label {
    display: block;
}
.goods {
    float: right;
    vertical-align: top;
    width: 700px;
    font-size: 0;
}
.item-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: aqua;
}
.item-card:nth-child(3n) {
    margin-right: 0;
}
.item-title {
    margin: 16px 15px;
    display: block;
    width: 187px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.item-description {
    display: block;
    margin: 0;
}
.goods-buy {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.pagination{
    margin: 0;
    margin-top: 45px;
    padding: 0;
    font-size: 0;
    background-color: aqua;
}
.pagination li {
    display: inline-block;
    margin-left: 7px;
    padding: 20px;
    background-color: black;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.pagination li:nth-child(even) {
    background-color: white;
}